
.test{
  border-right: solid;
}

.overViewTable {
  border-collapse: collapse;
}

.smallImage {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 9999px;
}

.overviewSummonerImage {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 5px;
}

.overviewRuneImage {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 9999px;
  background-color: black;
}

.nameHeader {
  display: block;
  width: 10.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}