.nameHeader{
  /* display: flex;
  width: 20rem;
  white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

.test{
  border-right: solid;
}

.overViewTable {
  border-collapse: collapse;
}