.teamGraphOverallContainer {
  display: flex;
  flex-direction: row;
}
.teamGraphGameStatsRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teamGraphBanImage {
  width: 5rem;
  height: 5rem;
}