
.teamGraphTeamOutcomeWrapper {
  background-color: #38383b;
  border-radius: 0.5rem;
  color: #cdd1d1;
}

.teamGraphTeamOutcome {
  display: flex;
  flex-direction: row;
  width: 88rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.teamGraphTeamOutcome > * {
  width: 50%;
}

.teamGraphTeamOutcome :first-child {
  text-align: right;
  padding-right: 2rem;
}

.teamGraphTeamOutcome :last-child {
  text-align: left;
  padding-left: 2rem;
}

.teamGraphOverallContainer {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
}

.teamGraphGameStatsColumnTitle {
  display: flex;
  height: 3rem;
  justify-content: center;
}

.teamGraphGameStatsRowContainer {
  display: flex;
  height: 4.5rem;
  flex-direction: row;
  justify-content: center;
}

.teamGraphTitle {
  width: 12rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.teamGraphValueWrapperLeft {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.teamGraphValueWrapperRight {
  width: 18rem;
  display: flex;
  align-items: center;
}

.teamGraphImageContainerLeft {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: right;
}

.teamGraphImageContainerRight {
  width: 18rem;
  display: flex;
  align-items: center;
}

.teamGraphLeft {
  padding-right: 1.2rem;
}

.teamGraphRight {
  padding-left: 1.2rem;
}

.teamGraphStatsHeraldsImage {
  height: 4.5rem;
  width: 4.5rem;
}

.teamGraphStatsDragonsImage {
  height: 4.5rem;
  width: 4.5rem;
}

.teamGraphElderImage {
  height: 4.5rem;
  width: 4.5rem;
}

.teamGraphBaronImage {
  width: 4.5rem;
  height: 4.5rem;
}

.teamGraphBanImage {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 0.1rem 0 0.1rem;
}

.teamGraphBansLeft :last-child {
  margin-right: 1.2rem;
}

.teamGraphBansRight :first-child {
  margin-left: 1.2rem;
}