.teamComparisonContainer {
  display: flex;
  /* height: 5rem; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #686a6e;
  margin: 0.3rem 0 0.3rem 0;
  border-radius: 0.5rem;
}

.killIcon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 1rem 0 1rem;
}

.goldIcon {
  width: 2rem;
  height: 2rem;
  padding: 0 1rem 0 1rem;
}

.comparisonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamOneStatus {
  padding-right: 3rem;
}

.teamTwoStatus {
  padding-left: 3rem;
}