
.overViewTableWrapper {
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.5rem;
}

.overViewTable {
  border-collapse: collapse;
}

.smallImage {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 9999px;
}

.overviewSummonerImage {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 5px;
}

.overviewRuneImage {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 9999px;
  background-color: black;
}

.nameHeaderWrapper {
  display: block;
  width: 10.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameHeaderWrapper > *:hover {
  cursor: pointer;
}

.cellContent {
  text-align: center;
}

.itemImage {
  width: 2.3rem;
  height: 2.3rem;
  padding-right: 0.1rem;
}

.teamContainer {
  border-right: 2px black solid;
}

.kdaHeader {
  padding-left: 3rem;
}

.kdaValue {
  text-align: center;
  padding-left: 3rem;
}

.damageContainer {
  display: flex;
  width: 10rem;
  justify-content: center;
}

.damageDealt {
  width: 5rem;
  text-align: right;
  padding-right: 0.4rem;
  border-right: 1px black solid;
}

.damageReceived {
  width: 5rem;
  text-align: left;
  padding-left: 0.4rem;
}

tr.headerContainer th {
  padding-left: 3rem;
}

tr.headerContainer th:first-child {
  padding-left: 0.5rem;
  text-align: left;
}

tr.rowContainer > td {
  padding-left: 3rem;
}

tr.rowContainer td:first-child {
  padding-left: 0rem;
}