.matchContainer {
 /* border-top: solid;
 border-left: solid;
 border-right: solid;
 height: 23rem; */
}

.playersContainer {
  font-size: 1.6rem;
  display: flex;
  width: 20rem;
  /* border-style: solid; */
}

.team2 {
  padding-left: 3rem;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
}

.combatContainer {
  font-size: 1.6rem;
}

.kda {
  display: flex;
}

.largestKillingSpree {
  display: flex;
}

.category {
  width: 22rem;
}