.matchContainer {
 /* border-top: solid;
 border-left: solid;
 border-right: solid;
 height: 23rem; */
 margin-bottom: 2rem;
 /* width: 74rem; */
width: 90rem;
}

.playersContainer {
  font-size: 1.6rem;
  display: flex;
  width: 20rem;
  /* border-style: solid; */
}

.team2 {
  padding-left: 3rem;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
}

.detailsContainer2 {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
}

.overallPlayerDetails {
  display: flex;
  flex-direction: row;
}

.overallPlayerDetailsChampion > * {
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
}

.overallPlayerDetailsSums {
  display: flex;
  flex-direction: column;
}

.overallPlayerDetailsSums > * {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

.overallPlayerDetailsRunes {
  display: flex;
  flex-direction: column;
}

.overallPlayerDetailsRunes > * {
  width: 2.5rem;
  height: 2.5rem;
}

.overallPlayerDetailsRunes :first-child {
  border-radius: 9999px;
  background-color: black;
}

.statsContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.9rem;
  height: 4.5rem;
  margin: 1rem 0 1rem 0;
  background-color: white;
  border-radius: 0.3em;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 1.5rem 0 1.5rem 0;

  padding-left: 0;
  width: 100%;
}

.nav li:hover{
  cursor: pointer;
}

.nav li {
  display: block;
  width: 100%;
  border-radius: 0.3em;
  text-align: center;
  margin: 0 1rem 0 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.nav li.active {
  background-color: #E1F7FF;
}

.combatContainer {
  font-size: 1.6rem;
}

.kda {
  display: flex;
  padding: 0 0 1.3rem 0;
}

.largestKillingSpree {
  display: flex;
  padding: 0 0 1.3rem 0;
}

.largestMultiKill {
  display: flex;
  padding: 0 0 1.3rem 0;
}

.ccScore {
  display: flex;
  padding: 0 0 1.3rem 0;
}

.firstBlood {
  display: flex;
  padding: 0 0 1.3rem 0;
}

.category {
  width: 22rem;
}