
body {
  font-size: 4rem;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100vh;
}

.nameContainer {
  display: flex;
  justify-content: center;
}

.allMatchesContainerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allMatchesContainer {
  /* border-bottom: solid; */
}

.allMatchesButton {
  width: 11rem;
  height: 4.2rem;
  border-radius: 0.5rem;
  background-color: #dce0e6;
}

.contentContainer {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.playerStatistics {
  border: solid;
  width: 28rem;
  margin-right: 1rem;
}

.test {
  margin-left: auto;
  margin-right: auto;
  width: 119rem;
  border: solid;
  margin-bottom: 1rem;
}