
body {
  font-size: 2rem
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameContainer {
  display: flex;
  justify-content: center;
}

.allMatchesContainer {
  border-bottom: solid;
}