.profileWrapper {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 119rem;
  margin-bottom: 1rem;
  background-color: #38383b;
  border-radius: 1rem 0.5rem 0.5rem 1rem;
}

.profileIcon {
  width: 12rem;
  height: 12rem;
  border-radius: 10px;
}

.playerDetailsWrapper {
  padding-left: 1.2rem;
}

.playerDetailsWrapper :last-child {
  font-size: 3rem;
}