.searchBarWrapper {
  background-color: #262629;
}

.searchBarWrapper {
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarContainer {
  display: flex;
  align-items: center;
}

.searchBarName {
  border: none;
  border-right: 1px solid;
  height: 2rem;
}

.searchBarTag {
  border: none;
  height: 2rem;
}

.searchBarButton {
  border: none;
  height: 2.2rem;
}