
.statsContentWrapper {
  background-color: #38383b;
  border-radius: 0.5rem;
  color: #cdd1d1;
}

.dropdownContainer {
  color: black;
  display: flex;
  float: right;
  margin-right: 1rem;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  clear: right;
  width: 10.5rem;
}

.optionsImage {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  margin-right: 1rem;
}

.optionsLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statsKillsAndAssistsContainer {
  clear: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0rem 3rem 5rem 0rem;
}

.statsKillContainer {
  padding-right: 3rem;
}

.statsKillContainer > :first-child {
  padding-left: 4rem;
  padding-bottom: 0.5rem;
}

.statsAssistContainer {
  padding-left: 3rem;
}

.statsAssistContainer > :first-child {
  padding-left: 4rem;
  padding-bottom: 0.5rem;
}

.statsTableRowKills {
  text-align: center;
}

.statsCombatStatsTable {
  border-collapse: collapse;
}

.statsCombatStatsContainer {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.statsTablePlayerHeader {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 0;
}
.statsTableHeader {
  height: 3.5rem;
  width: 3.5rem;
  font-size: 0;
  border-radius: 9999px;
}

.statsTableRowPlayer {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
}

.statsKillContainer > :first-child {
  text-align: center;
}

.statsAssistContainer > :first-child {
  text-align: center;
}

.statsCombatStatsCombatHeader, .statsCombatStatsDamageDealtHeader, .statsCombatStatsIncomingDamageHeader, .statsCombatStatsGoldHeader {
  border-bottom: solid 1px black;
  padding-bottom: 0.5rem;
}

.statsCombatTableCombat, .statsCombatTableDamageDealt, .statsCombatTableIncomingDamage {
  padding-top: 1rem;
  border-right: 1px solid black;
}

.statsCombatTableGold {
  padding-top: 1rem;
}

.statsCombatTableValueContainer {
  display: flex;
  flex-direction: row;
  height: 2rem;
  padding-bottom: 1rem;
}

.statsCombatTableValueTitle {
  padding-left: 0.5rem;
  width: 18rem;
}

.statsCombatTableValue {
  width: 5rem;
  text-align: center;
}

.statsCombatTableCombat .statsCombatTableValueTitle {
  width: 17rem;
}

.statsCombatTableIncomingDamage .statsCombatTableValueTitle {
  width: 15rem;
}

.statsCombatTableGold .statsCombatTableValueTitle {
  width: 12.5rem;
}

.loader {
  /* height: 45.4rem; */
  padding-left: 1rem;
  height: 30rem;
  background-color: #38383b;
}